pandas~=2.2.3
numpy~=2.2.5
mango-agents==2.1.5
plotly~=6.0.1
scikit-learn~=1.6.1
scipy~=1.15.2
matplotlib~=3.10.3
networkx~=3.4.2
pytest~=8.3.5
seaborn~=0.13.2
statsmodels~=0.14.5
psutil~=7.0.0
pyDOE3~=1.2.0